@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";


@theme {
  /* Configuración de Colores de Bajo la Parra */
  --color-deep-blue: #000093;
  --color-zafiro: #0033CC;
  --color-marfil: #FFFFF0;
  --color-gris-profundo: #555555;
  --color-celeste: #91ABFB;
  --color-dorado-ocre: #e6c200;
  --color-marron-cuero: #7A4B3A;

  /* Configuración de Fuentes */
  --font-serif: "Garamond", serif;
  --font-sans: "Lato", sans-serif;
  --font-script: "Dancing Script", cursive;

  /* Grid area para Móvil: Una sola columna */
  --grid-tienda-mobile: "title" 
                        "imagen" 
                        "description" 
                        "button"
                        "counter";
  
  /* Grid area para Desktop: Dos columnas (Imagen a la izquierda, texto a la derecha) */
  --grid-tienda-desktop: "imagen title" 
                          "imagen description" 
                          "imagen button" 
                          "counter counter";
}

@layer base {
  body {
    background-color: var(--color-marfil);
    color: var(--color-gris-profundo);
    font-family: var(--font-sans);
  }
}
