@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:wght@300;400;700&display=swap');
@import "tailwindcss";

@theme {
  /* Colores */
  --color-deep-blue: #000093;
  --color-zafiro: #0033CC;
  --color-marfil: #FFFFF0;
  --color-gris-profundo: #555555;
  --color-celeste: #91ABFB;
  --color-dorado-ocre: #e6c200;
  --color-marron-cuero: #7A4B3A;

  /* Fuentes */
  --font-serif: "Garamond", serif;
  --font-sans: "Lato", sans-serif;
  --font-script: "Dancing Script", cursive;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-marfil text-gris-profundo font-sans antialiased;
  }
}